* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ font-family: 'Ubuntu', sans-serif;}
/* color */

:root {
    --bl-title: #fe6901;
    --bl-footer: #1b1b1a;
    --bl-greencard: #008000;
    --bl-redcard: #fe0100;
}

.block_header {
    width: 100%;
    height: 50px;
    background-color: var(--bl-title);
    box-shadow: 0px 1px 20px 1px #d7d7d7;
    position: fixed;
    z-index: 1000;
    
}

.center_site {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0.9rem;
    background-color: var(--bl-title)
}

.gender {
    display: flex;
    justify-content: center;
    text-align: left;
    width: 30%;
    max-height: 100%;
    gap: 0.75rem;

}

.gender a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 40%;
    text-align: center;
    max-height: 100%;
}

.shop {
    width: 30%;
    max-height: 100%;
    text-align: center;
}

.container {
    width: 1770px;
    height: 100%;
    margin: 0 19rem;
    position: relative;
    
   
}

.article {
    margin: 1rem 2rem;
}

.row {
    width: 75%;
    height: 100%;
    padding: 2rem;
    position: absolute;
    top: 20px;
    left: 10px;
    

}

.row .article {
    width: 300px;
    position: relative;
    display: inline-block;
}

.sconto.high {
    background-color: var(--bl-redcard);
}

.sostenibility {
    background-color: var(--bl-greencard);
}

.article>.sconto {
    width: 15%;
    height: 18px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 0;
    font-size: 10px;
    line-height: 1rem;
    border-radius: 2px;
}

.article>.sostenibility {
    width: 25%;
    height: 18px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 16%;
    font-size: 10px;
    line-height: 1rem;
    border-radius: 2px;

}

#onlysost{width: 25%;
    height: 18px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 0%;
    font-size: 10px;
    line-height: 1rem;
    border-radius: 2px;}

.imgback {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.article p {
    font-size: 12px;
}

.article h5 {
    font-size: 18px;
}

.price {
    color: var(--bl-redcard);
    font-weight: bold;
}


.heart {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 90%;
    top: 10px;
    font-size: 25px;
    color: black;
    background-color: white;
    text-align: center;


}

.article:hover .heart {
    color: #fe0100;
    display: block
}



.article:hover .imgback {
    display: block;
}

.b_footer{
    width: 100%;
    height: 100px;
    background-color: var(--bl-footer);
    color: white;
    position: absolute;
    top: 120%;
}


.info_footer{
    width: 64%;
    margin: 0 auto;
    padding: 1rem 0;
    
}

.info_footer > h4{
    margin-bottom: 1rem;
    margin-left: 0.95rem;
}

.info_footer > a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-left: 1rem;
    
}

.right_footer{
    float: right;
    margin-top: -35px;
}

.right_footer > i {
    margin-top: 1rem;
    gap: 1rem;
}